<nav>
    <div class="naving">
        <div class="logo">
            <h1>NYC CONCERT PHOTOGRAPHER NETWORK</h1>
        </div>
        <ul class="menu">
            <li>VENUES</li>
            <li>PROFILE</li>
            <li>POST</li>
        </ul>
    </div>
</nav>