<div class="createPosts">
    <div>
        <form action="/dashboard/createPost"  enctype="multipart/form-data" method='POST'>
            <div class="formGroup">
                <div class="forms">
                    <input type="text">
                    <label for="cameraUsed">Camera Used</label>
                </div>
                <div class="forms">
                    <input type="text">
                    <label for="lensUsed">Lens Used</label>
                </div>
                <div class="forms">
                    <input type="text">
                    <label for="Venue">Venue</label>
                </div>
                <div class="forms">
                    <input type="text">
                    <label for="apertureUsed">Aperture Used</label>
                </div>
                <div class="forms">
                    <input type="text">
                    <label for="isoUsed">ISO Used</label>
                </div>
                <div class="forms">
                    <input type="text">
                    <label for="artist">Artist Name</label>
                </div>
                <div class="forms">
                    <input type="text">
                    <label for="Comments">Comments</label>
                </div>
                <div class="forms">
                    <input type="number" min="0" max="10">
                    <label for="rating">Venue Rating</label>
                </div>
                <input type="file" class="form-control" name="file" id="imageUpload">
                <input type="submit">
            </div>
        
        </form>
    </div>
</div>