<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photographer Network</title>
</head>
<body>
    <h1>The Concert Photographer Network</h1>
    <a href="/login" >Login</a>
    <a href="/register">Register</a>
</body>
</html>


<!-- <form action="/searchVenue" method="GET">
    <label for="Cities">Choose A City</label>
    <select name="Cities" id="Cities">
        <option value="New York">New York </option>
        <option value="California">California</option>
    </select>
    <input type="submit">
</form> -->